* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  z-index: -1;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0%;
}
header section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}
header section > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section > div:nth-of-type(1) {
  width: 20%;
}
header section > div.menu {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header section > div.menu > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header section > div.menu > ul > li {
  padding: 0% 1rem;
  position: relative;
  font-size: 0.7rem;
}
header section > div.menu > ul > li:hover > a {
  color: #84A1FF;
}
header section > div.menu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}
header section > div.menu > ul > li > a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
header section > div.menu > ul > li > a.active {
  color: #84A1FF;
}
header section > div.menu > ul > li > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 200px;
  height: auto;
  list-style: none;
  padding: 10px 0%;
  top: 30px;
  left: -140px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
header section > div.menu > ul > li > ul > li {
  padding: 5px 28px;
  padding-left: 20px;
}
header section > div.menu > ul > li > ul > li > a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
header section > div.menu > ul > li > ul > li > a:hover {
  color: #84A1FF;
}
header section > div.mobile {
  position: relative;
}
header section > div.mobile > span {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
}
header section > div.mobile > ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.685);
  z-index: 9999;
  transform: translateX(100%);
  transition: 0.5s;
}
header section > div.mobile > ul > li {
  padding: 20px 0;
  font-size: 1.2rem;
}
header section > div.mobile > ul > li > a {
  color: white;
}
header section > div.desktop {
  display: none;
}

.about {
  margin-top: 70px;
  width: 100%;
  height: auto;
  padding: 40px 0;
}
.about > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about > div > article {
  width: 40%;
  height: auto;
  margin-top: -20px;
  margin-right: 40px;
}
.about > div > article > h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 300;
}
.about > div > article > h1 {
  font-size: 3.5rem;
  margin: 10px 0;
}
.about > div > article > p {
  font-size: 0.9rem;
  margin: 15px 0;
  color: #777777;
  line-height: 1.5;
}
.about > div > article > a {
  margin-top: 15px;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  padding: 14px 30px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
  transition: 0.4s;
}
.about > div > article > a:hover {
  box-shadow: 0 20px 20px 0 rgba(132, 144, 255, 0.3);
}

.about2 {
  width: 100%;
  height: auto;
  padding: 40px 0;
}
.about2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about2 > div > article {
  width: 40%;
  height: auto;
  margin-top: -20px;
  margin-right: 40px;
}
.about2 > div > article > h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 300;
}
.about2 > div > article > h2 {
  font-size: 2.3rem;
  margin: 30px 0;
}
.about2 > div > article > p {
  font-size: 1rem;
  margin: 15px 0;
  color: #777777;
  line-height: 1.5;
  width: 80%;
}
.about2 > div > article > a {
  margin-top: 15px;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  padding: 14px 30px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
  transition: 0.4s;
}
.about2 > div > article > a:hover {
  box-shadow: 0 20px 20px 0 rgba(132, 144, 255, 0.3);
}

.services {
  width: 100%;
  height: auto;
  padding: 80px 0;
}
.services > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services > div > h2 {
  font-size: 2.3rem;
  margin: 15px 0;
  text-align: center;
}
.services > div > p {
  width: 50%;
  text-align: center;
  color: #777777;
  line-height: 1.5;
}
.services > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}
.services > div > div > div {
  width: 340px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.services > div > div > div > span {
  font-size: 2rem;
  transition: 0.4s;
}
.services > div > div > div > p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #777777;
}
.services > div > div > div h2 {
  transition: 0.4s;
}
.services > div > div > div:hover > span {
  color: #84A1FF;
}
.services > div > div > div:hover > h2 {
  color: #84A1FF;
}

.tape {
  background-color: #64BBFD;
  width: 100%;
  height: auto;
  padding: 70px 0;
  margin-top: 40px;
}
.tape > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tape > div figure {
  width: 150px;
  height: auto;
  margin: 0 20px;
}

footer {
  padding: 160px 0;
  width: 100%;
  background-color: #04091E;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777777;
}
footer article {
  width: 40%;
  height: auto;
  padding: 0 25px;
}
footer article h2 {
  color: white;
  margin: 10px 0;
}
footer article p {
  line-height: 1.5;
}
footer > h3 {
  width: 40%;
  height: auto;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}
footer > h3 > span {
  color: white;
  font-weight: 400;
}

.nav-active {
  transform: translateX(0px) !important;
}/*# sourceMappingURL=Master.css.map */